.Select {
    width: 200px;
    margin-right: 15px;
}

.Chips {
    display: block;
    max-width: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.Chip {
    margin: 1px 5px;
}

.Space {
    width: 15px;
}

@media (min-width: 499px) {
    .Chips {
        max-width: 300px;
    }
}

@media (min-width: 700px) {
    .Chips {
        max-width: 400px;
    }
}

@media (max-width: 899px) {
    .Selection, .Buttons, .Chips {
        display: none;
    }
}