.Container {
    margin: auto;
    height: 100%;
    min-width: 650px;
    width: 55%;
    padding: 20px 60px;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    box-sizing: border-box;
    z-index: 90;

    border-radius: 10px;
}
.Summary {
    font-family: Helvetica;
    font-size:36px;
}

.hrSect {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: rgba(0, 0, 0, 0.35);
	font-size: 12px;
	margin: 8px 0px;
}
.hrSect::before,
.hrSect::after {
	content: "";
	flex-grow: 1;
	background: rgba(0, 0, 0, 0.35);
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 16px;
}

.CartActions {
    padding-bottom: 15px;
    height: 90px;
}

.BundledButtons {
    float: right;
}

.Nested {
    margin-left: 25px;
}

@media (max-width: 899px) {
    .BundledButtons {
        margin-left: auto;
        margin-right: auto;
    }
}