.Container {
    margin: auto;
    height: 100%;
    min-width: 650px;
    width: 55%;
    padding: 20px 60px;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    box-sizing: border-box;
    z-index: 90;

    border-radius: 10px;
}

.Nested {
    margin-left: 25px;
}

