.Coupon {
    margin: 20px;
}

.Media {
    width: 100%;
    height: 200px;
}

.Expand {
    transform: rotate(0deg);
    transition: transform 300ms;
    margin-left: auto;
}

.ExpandOpen {
    transform: 'rotate(180deg)';
}
