.Auth {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
}

.Contained {
    text-align: left;
    margin: 0 center;
    padding-left: 20px;

    max-height: 0;
    transition: max-height 350ms ease-out;
    overflow: hidden;


    /* max-height: 0;
    overflow: hidden;
    transition: max-height 500ms, opacity 300ms;
    -webkit-transition: max-height 500ms, opacity 300ms; */
}

.active {

    max-height: 1000px;
    transition: max-height 200ms ease-in;

    /* max-height: 1000px;
    transition: max-height 0, opacity 300ms;
    -webkit-transition: max-height 0, opacity 300ms; */
}

h5 {
    color: #ff0033;
}

@media (min-width: 600px) {
    .Auth {
        width: 500px;
    }

    .Contained {
        padding-left: 23%;
    }
}
/* Monospaced Number,Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif */