.BundledButtons {
    flex-flow: row;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: 0;
    position: relative;
}

@media (max-width: 899px) {
    .BundledButtons {
        margin-left: auto;
        margin-right: auto;
    }
}