.Select {
    width: 255px;
    margin: 7px 0;
}

h5 {
    text-align: center;
    color: #ff0033;
}

.Dates {
  display: inline-block;
  width: 550px;
}

.Left {
    /* padding-left:10px; */
    float: left;
}

.Right {
    float: right;
    /* margin: auto; */
    /* padding-right:60px; */
}